version: "3.9"

services:
  prometheus:
    image: "prom/prometheus"
    container_name: xyne-prometheus
    volumes:
      - ./prometheus-selfhosted.yml:/etc/prometheus/prometheus-selfhosted.yml
    ports:
    - "9090:9090"
    command:
      - "--config.file=/etc/prometheus/prometheus-selfhosted.yml"
    networks:
      - xyne
  grafana:
    image: grafana/grafana
    container_name: xyne-grafana
    volumes:
      - ./grafana/provisioning:/etc/grafana/provisioning
      - grafana-storage:/var/lib/grafana 
    ports:
      - "3002:3000"
    networks:
      - xyne
  vespa:
    image: vespaengine/vespa
    container_name: vespa
    hostname: vespa-container
    ports:
      - "8080:8080"
      - "19071:19071"
    volumes:
      - ../server/vespa-data:/opt/vespa/var
    networks:
      - xyne
    restart: always
    logging:
      driver: json-file
      options:
        max-size: "50m"
        max-file: "6"

  xyne-db:
    image: postgres
    container_name: xyne-db
    environment:
      POSTGRES_USER: xyne
      POSTGRES_PASSWORD: xyne
      POSTGRES_DB: xyne
    ports:
      - "${XYNE_DB_PORT:-5432}:5432"
    volumes:
      - ../server/xyne-data:/var/lib/postgresql/data
    networks:
      - xyne
    restart: always 
networks:
  xyne:
    driver: bridge
volumes:
  vespa-data:
    driver: local
  grafana-storage:  
    driver: local
