version: "3.9"

services:
  # app:
  # image: xyne
  # container_name: xyne-app
  # build:
  #   context: ..
  #   dockerfile: Dockerfile
  # ports:
  #   - "3000:3000"
  # depends_on:
  #   - xyne-db
  #   - vespa
  # env_file:
  #   - .env
  # networks:
  #   - xyne
  # restart: always
  
  prometheus:
    image: "prom/prometheus"
    container_name: xyne-prometheus
    volumes:
      - ./prometheus-selfhosted.yml:/etc/prometheus/prometheus-selfhosted.yml
    ports:
    - "9090:9090"
    command:
      - "--config.file=/etc/prometheus/prometheus-selfhosted.yml"
    restart: always
    networks:
      - xyne
    extra_hosts:
    - "host.docker.internal:host-gateway"

  grafana:
    image: grafana/grafana
    container_name: xyne-grafana
    volumes:
      - ./grafana/provisioning:/etc/grafana/provisioning
      - grafana-storage:/var/lib/grafana 
    ports:
      - "3002:3000"
    restart: always
    networks:
      - xyne

  vespa:
    image: vespaengine/vespa
    container_name: vespa
    hostname: vespa-container
    deploy:
      resources:
        limits:
          memory: 20G
    ulimits:
      nproc: 409600
    ports:
      - "8080:8080"
      - "19071:19071"
    volumes:
      - ../server/vespa-data:/opt/vespa/var
    networks:
      - xyne
    environment:
      - VESPA_CONFIGSERVER_JVMARGS=-Xms1g -Xmx16g -XX:+UseG1GC -XX:G1HeapRegionSize=32M
      - VESPA_CONFIGPROXY_JVMARGS=-Xms512m -Xmx8g -XX:+UseG1GC



    restart: always
    logging:
      driver: json-file
      options:
        max-size: "50m"
        max-file: "6"

  xyne-db:
    image: postgres
    container_name: xyne-db
    environment:
      POSTGRES_USER: xyne
      POSTGRES_PASSWORD: xyne
      POSTGRES_DB: xyne
    ports:
      - "${XYNE_DB_PORT:-5432}:5432"
    volumes:
      - ../server/xyne-data:/var/lib/postgresql/data
    networks:
      - xyne
    restart: always
networks:
  xyne:
    driver: bridge
volumes:
  vespa-data:
    driver: local
  grafana-storage:  
    driver: local