version: "3.9"

services:
  # app:
  # image: xyne
  # container_name: xyne-app
  # build:
  #   context: ..
  #   dockerfile: Dockerfile
  # ports:
  #   - "3000:3000"
  # depends_on:
  #   - xyne-db
  #   - vespa
  # env_file:
  #   - .env
  # networks:
  #   - xyne
  # restart: always
  vespa:
    image: vespaengine/vespa
    container_name: vespa
    hostname: vespa-container
    ports:
      - "8080:8080"
      - "19071:19071"
    volumes:
      - ../server/vespa-data:/opt/vespa/var
    networks:
      - xyne
    restart: always
    logging:
      driver: json-file
      options:
        max-size: "50m"
        max-file: "6"

  xyne-db:
    image: postgres
    container_name: xyne-db
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "${XYNE_DB_PORT:-5432}:5432"
    volumes:
      - ../server/xyne-data:/var/lib/postgresql/data
    networks:
      - xyne
    restart: always
networks:
  xyne:
    driver: bridge
volumes:
  vespa-data:
    driver: local
