version: "3.9"

services:
  app:
    image: xyne
    container_name: xyne-app
    build:
      context: ..
      dockerfile: Dockerfile
    ports:
      - "80:80"
    depends_on:
      - xyne-db
      - vespa
    working_dir: /usr/src/app/server
    entrypoint: ""
    command: sh -c '
        echo "Inside Docker Container...." &&
        sleep 20 &&
        echo "Running initialization script..." &&
        ./init-script-docker.sh &&
        echo "Initialization complete!" &&
        exec bun run server.ts '
    env_file:
      - ../server/.env
    networks:
      - xyne    
    restart: always
    logging:
      driver: json-file
      options:
        max-size: "50m"
        max-file: "6"
    
  vespa:
    image: vespaengine/vespa
    container_name: vespa
    hostname: vespa-container
    # sudo chown -R 1000:1000 ./server/vespa-data
    user: "1000:1000" # Run as vespa user
    ports:
      - "8080:8080"
      - "19071:19071"
    volumes:
      - ../server/vespa-data:/opt/vespa/var # Ensure this directory has correct permissions
      - ../server/vespa-logs:/opt/vespa/logs # Ensure correct permissions
    networks:
      - xyne
    ulimits:
      nproc: 409600
    restart: always
    logging:
      driver: json-file
      options:
        max-size: "50m"
        max-file: "6"
    environment:
      - VESPA_CONFIGSERVER_JVMARGS=-Xms1g -Xmx16g -XX:+UseG1GC -XX:G1HeapRegionSize=32M
      - VESPA_CONFIGPROXY_JVMARGS=-Xms512m -Xmx8g -XX:+UseG1GC

  xyne-db:
    image: postgres
    container_name: xyne-db
    environment:
      POSTGRES_USER: xyne
      POSTGRES_PASSWORD: xyne
      POSTGRES_DB: xyne
    ports:
      - "${XYNE_DB_PORT:-5432}:5432"
    volumes:
      - ../server/xyne-data:/var/lib/postgresql/data
    networks:
      - xyne
    restart: always
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U xyne"]
      interval: 5s
      timeout: 5s
      retries: 5

networks:
  xyne:
    driver: bridge
volumes:
  vespa-data:
    driver: local
